<div class="container">
<!-- <app-joke-list></app-joke-list> -->
<!-- <app-vote-list></app-vote-list> -->
    <app-accordion>
        <app-accordion-item>
            <div class="title">
                <h2>Title One</h2>
            </div>
            <div class="desc">
                <p>Hello my friends, I am the nicest accordion!</p>
            </div>
        </app-accordion-item>
        <app-accordion-item>
            <div class="title">
                <h2>Title Two</h2>
            </div>
            <div class="desc">
                <p>You're the greatest accordion!</p>
            </div>
        </app-accordion-item>
        <app-accordion-item>
            <div class="title">
                <h2>Title Three</h2>
            </div>
            <div class="desc">
                <p>Thank you my dear!</p>
            </div>
        </app-accordion-item>
    </app-accordion>
</div>